<div class="map" id="map"></div>

<script type="text/javascript">
  
  var stopIcon = L.icon({
    iconUrl: '../../images/marker_black_on_yellow.png',
    iconSize: [24, 33],
    iconAnchor: [12, 33],
    popupAnchor: [0, -33]
  });
  
  var kioskIcon = L.icon({
    iconUrl: '../../images/marker_white_on_black.png',
    iconSize: [25, 25],
    iconAnchor: [12, 25],
    popupAnchor: [0, -25]
  });
  
  var map = L.map(
      'map',
      {
          center: new L.LatLng(
            <%= location_data.lat %>,
            <%= location_data.lon %>
          ),
          zoom: 18,
          dragging: false,
          touchZoom: false,
          scrollWheelZoom: false,
          doubleClickZoom: false,
          boxZoom: false,
          tap: false,
          closePopupOnClick: false
      }
  );   // map options: http://leafletjs.com/reference.html#map-options
 
  // hack to allow all the popups to stay open together
  // http://stackoverflow.com/questions/9047931/leaflet-js-open-all-popup-bubbles-on-page-load
    map.on('popupopen', function(e) {
      delete map._popup;
    });

// alternate tile styles: 
// //{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png  // subdomain 'a' only
// //{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png  // subdomain 'a' only
// //stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg  // subdomains 'a', 'b', 'c'
// //{s}.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png  // subdomains 'a' & 'b'
  
  L.tileLayer( 
      '////{s}.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png', 
      {
          attribution: 'Data &copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a> contributors, under ODbL | Map tiles by CartoDB, under CC BY 3.0.',
        subdomains: ['a', 'b']
      }
  ).addTo( map ); 

  
  <% var k = location_data; %>           
  L.marker(
      [<%= k.lat %>, <%= k.lon %>],
      {
          icon: kioskIcon,
          alt: '*'
      }
  )
  .addTo(map)
  .bindPopup(
    "You are here: <br/ > <%= k.name %>",
     {
      closeButton: false,
      autoPan: true,
      className: 'kioskPopup'
    }

  )
  .openPopup();


  <%  for (var i=0; i < nearby_stops.length; i++) { %>
  <%    var s = nearby_stops.models[i].attributes; %>
  <%    if ((s.name.indexOf("drop off only") < 0) && (s.lat != k.lat) && (s.lon != k.lon)) { %>
  <%    // console.log(s); %>
  <%    var popuptext = '<span class="popup heading">'; %>
  <%    popuptext += s.name; %>
  <%    popuptext += '</span><br /><span class="popup bodytext">Routes: '; %>
  <%    for (var j=0; j < s.routes.length; j++) { %>
  <%      if (j > 0) { popuptext += ', '; } %>
  <%      popuptext += s.routes[j] %>
  <%    } %>
  <%    popuptext += '</span>'; %>
    L.marker(
        [<%= s.lat %>, <%= s.lon %>],
        {
            icon: stopIcon,
            alt: 'x'
        }
    )
    .addTo(map);
//   .bindPopup(
//      '<%= popuptext %>',
//      {
//        closeButton: false,
//        autoPan: true,
//        className: 'stopPopup'
//      }
//    )
//    .openPopup(); 
  <%  } %>
  <%  } %>
    

           
           
</script>



<!--
  Alternate map styles: http://maps.stamen.com/
  NB: once we've settled on one, we need to use the correct attribution line for it
-->
