<div class="bus-route--tileitem m-align-left">
  <div class="bus-route--tileitem-route m-large m-align-left">
    <h1><%= number.replace(/ [a-zA-Z]*$/g, "") %></h1>
  </div>
  <div class="bus-route--tileitem-wait m-small m-align-right">
    <ul class="bus-route--waittimes">
      <!--TODO: Remove logic from template-->
      <% for(var i=0; i< wait_times.length; i++) {%>
        <% if (wait_times[i].wait == "DUE") {%>
          <li class="bus-route--waittimes-item b-red"><h2><%= wait_times[i].wait %></h2></li>
        <% } else if ( i != 0 && wait_times[i].wait > 0 && wait_times[i].current) {%>
          <li class="bus-route--waittimes-item b-blue"><h2><%= wait_times[i].wait %></h2></li>
        <% } else if ( i != 0 && wait_times[i].wait > 0 && !wait_times[i].current) {%>
          <li class="bus-route--waittimes-item b-grey"><h2><%= wait_times[i].wait %></h2></li>
        <% }else if (i == 0){%>
          <li class="bus-route--waittimes-item"><h2><%= wait_times[i].wait %></h2></li>
        <% } %>
      <% } %>
    </ul>
  </div>
  <div class="bus-route--tileitem-name m-large m-align-left">
    <h3><%=  headsign.toLowerCase() %></h3>
  </div>
</div>

